.json-pretty {
	line-height: 1.3;
	color: #828A94;
  background: #FAFAFA;
  border-radius: 10px;
  border: solid rgb(138, 138, 138) 1px;
  font-size: 13px;
  padding: 10px;
  height: 220px;
}

.json-pretty .json-key {
	color: #E000CD;
}

.json-pretty .json-value {
	color: #5BC27A;
}

.json-pretty .json-string {
	color: #00B7EB;
}

.json-pretty .json-boolean {
	color: #FF5543;
}

.json-container {
  width: 400px;
}